.Details{
    border: 2px solid black;
}

.right{
    border: 1px solid aqua;
    display: flex;
    gap: 20px;
}


.meta_info p{
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    gap: 10px;
    border: 1px solid blue;
    height: 100%;
}


.banner{
    width: 15em;
    height: 20em;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;  
    transition: .3s;
}

.Ingredients{
    border: 1px solid saddlebrown;
    display: grid;
    grid-template-columns: auto auto;
    /* justify-content: center; */
    width: fit-content;
    height: 20em;
    overflow: auto;
    
}

.IngredientsItem{
    width: 12em;
    text-align: center;
    margin: 10px;
}

.IngredientsItem p:only-of-type(span){
    display: flex;
    flex-direction: column;
    margin: 2px;
    font-weight: bold;
}

.IngredientsItem img{
    height: 40px;
    width: 40px;
}
