.Details{
    width: fit-content;
    margin: 0px auto;

    position: relative;

}

.Details h1{
    text-align: center;
    margin-bottom: 60px;
    margin-top: 50px;
}
/* .info{
    display: flex;
    gap: 30px;
    
} */

.top{
    display: flex;
    gap: 30px;
}

.right{
    /* border: 1px solid aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

hr{
    padding: 1px;
    background-color: black;
}

.meta_info p{
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid blue; */
    height: 100%;
}

.meta_info p span{
    display: flex;
    align-items: center;
}

.banner{
    width: 15em;
    height: 20em;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;  
    transition: .3s;
}

.Ingredients{
    /* border: 1px solid saddlebrown; */
    display: grid;
    grid-template-columns: auto auto;
    /* justify-content: center; */
    width: fit-content;
    height: 20em;
    overflow: auto;
    
}

.IngredientsItem{
    width: 12em;
    text-align: center;
    margin: 10px;
    transition: .3s;
}

.IngredientsItem:hover{
    transform: scale(1.1);
}


.IngredientsName{
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    margin: 2px;
    font-weight: bold;
}

.IngredientsOrig{
    margin-top: 6px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .7em;
}

.IngredientsItem img{
    height: 40px;
    width: 40px;
}

.bottom{
    margin: 50px 0px 50px 0px;
    max-width: 23.5cm;
}

.instructionsContainer{
    /* width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0; */
    text-align: left;

}

.instructionsContainer li{
    margin: 20px;
    font-weight: 500;
    color:rgb(96, 102, 82);
    font-size: large;
    transition: .3s;
}

.instructionsContainer li:hover{
    color: #252525;
    transform: scale(1.1) translateX(50px);
}

.dishTypes{
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: fit-content;
    gap: 20px;
    text-align: right;
}

.tagsCard{
    border-radius: 20px 10px 20px 0px;
    width: fit-content;
    padding: 3px 12px;
    font-weight: 500;
    display: flex;
    gap: 5px;
    background-color: #0D0805;
    color: whitesmoke;
    transition: .2s;
}

.tagsCard:hover{
    transform: scale(1.1);
    background-color: #252525;
}

.tagsCard img{
    height: 20px;
    width: 20px;
    
}

/* .descriptions{
    width: 900px;
}

.descriptions p{
    margin: 20px 0px 40px 0px;
    font-size: 1em;
    letter-spacing: .1em;
    font-weight: 400;
    margin-inline: 50px;
} */

.description{
    width: 700px;
    padding: 20px 40px;
    z-index: 2;
    position: absolute;
    background-color: white;
    /* box-shadow: 0px 0px 10px 1px rgb(94, 94, 94); */
    box-shadow: 100px 100px 100px 100vw rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    transition: .3s;
    top: 150px;
    left: 0;
    right: 0;
    margin-inline: auto; 
    display: flex;
    gap: 15px;


    
}


.topDescription{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
}

.exitBtn{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: unset;
    font-size: 1.5em;
    position: absolute;
    right: 0;
    top: 5px;

    transition: .3s;
}

.exitBtn:hover{
    color: red;
    transform: rotate(-90deg);
}

.descriptionBtn{
    background-color: transparent;
    border: unset;
    color: rgb(255, 88, 10);
    background-color: #252525;
    padding: 5px 10px;
    font-weight: bold;
    width: 100%;
    border-radius: 12px 12px 12px 12px;
    transition: .3s;

}

.descriptionBtn:hover{
    color: whitesmoke;
    background-color: rgb(255, 88, 10);
}


.infoIcon{
    height: 30px;
    width: 30px;
    transition: .3s;
}

.infoIcon:hover{
    transform: scale(1.5);
}