.NutritionFacts{
    box-shadow: 0px 10px 15px black;
    width: 80%;
    /* margin-inline: auto; */
    padding: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.foodBanner{
    /* border: 2px solid green; */
    position: absolute;
    left: -120px;
    top: -120px;
    height: 200px;
    width: 28em;
    border-bottom: 4px solid black;
    overflow: hidden;
    z-index: 0;
    transform: rotate(-38.74deg);
}

.foodBanner img{
    height: 100%;
	width: 100%;
	object-fit: cover;
	object-position:center;
}




.nutrients{
    display: flex;
}


.banner{
    /* border: 1px solid blue; */
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-top: 50px;
    
}


.banner img{
    height: 100px;
    width: fit-content;
    z-index: 1;
}

.note{
    margin-top: 10px;
    font-size: .7em;
}

.serving, .calories, .fat{
    font-size: 1.5em;
}


.nutritionInfoContainer{
    /* border: 1px solid brown; */
    width: 60%;
}

.nutritionInfoHeader{
    /* border: 1px solid green; */
    display: flex;
    gap: 40px;
    align-items: center;
    width: fit-content;
    height: 10rem;
    margin: 0 auto;
}

.nutritionInfoHeader h1{
    /* border: 1px solid gold; */
    width: 12rem;
    text-align: left;
    font-size: 2.5em;
}

.nutritionInfoHeader img{
    height: 60px;
    width: 60px;
}

.nutritionInfo p{
    display: flex;
    flex-direction: column;
}

.amountServing{
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 3px solid black;
}

.nutrition{
    /* border: 1px solid orangered; */
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 4px 0px;
}

.banner_content{
    display: flex;
    flex-direction: column;
}