.Navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252525;
    color: wheat;
    padding: 10px 10px;
}

.Navigation .slidebtn{
    height: fit-content;
    width: fit-content;
}